body{
    background: #7bed9f;
}
#waterrmelon{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    border: 8px solid #13753c;
    background: #ff4757;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0px;
    cursor: pointer;
    
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .seed{
        width: 5px;
        height: 5px;
        background: black;
        border-radius: 50%;
        li:nth-child(2n) {
            flex-basis: 100%;
        }

    }
}