body {
	background: #84eba5;
}
.watermelonContainer,
.coordinates {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.watermelonContainer {
	padding: 150px;
}
.coordinates {
	top: 10%;
}
#watermelon {
	height: 200px;
	width: 200px;
	border-radius: 15px;
	border: 18px solid #13753c;
	background: #ff4757;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 20px 0px;
	cursor: grab;
	transition: 0.2s ease-in-out;
	// transform-origin: center;

	.containerOfSeeds {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.seed {
		width: 5px;
		height: 5px;
		background: black;
		border-radius: 50%;
		li:nth-child(2n) {
			flex-basis: 100%;
		}
	}
}
